version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.prod
    env_file: .env
    depends_on:
      - db
    expose:
      - "8000"

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
    - "9090:80"
    depends_on:
      - web

volumes:
  postgres_data: